@charset "UTF-8";

body{
background-color: blueviolet;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 20px;
        }
        h1{
            color: blanchedalmond;
            background-color: black;
        }
        h2{
            color: bisque;
        }
        p{
            text-align: justify;
        }